<div class="border-bottom w-100 mb-2">
  <header
    class="d-flex flex-wrap justify-content-center pt-3 pb-2 mb-2 container"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <span class="fs-4"> <i class="bi bi-shop-window"></i> SHOP</span>
    </a>

    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
      {{#if isProducts}}
      <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none" href="/products" class="nav-link">Products</a></button>
      {{else}}
      <button type="button" class="btn btn-info"><a class="text-light text-decoration-none" href="/products" class="nav-link">Products</a></button>
      {{/if}}
      {{#if token}}          
          {{#if isAdd}}
          <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none" href="/add" class="nav-link">Add</a></button>
          {{else}}
          <button type="button" class="btn btn-info"> <a class="text-light text-decoration-none" href="/add" class="nav-link">Add</a></button>
          {{/if}}

          <button type="button" class="btn btn-danger"><a class="text-light text-decoration-none" href="/logout">Log out</a></button>

      {{else}}
          {{#if isLogin}}
          <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none" href="/login">Login</a></button>
          {{else}}
          <button type="button" class="btn btn-info"><a class="text-light text-decoration-none" href="/login">Login</a></button>
          {{/if}}
          {{#if isRegister}}
          <button type="button" class="btn btn-primary"><a class="text-light text-decoration-none" href="/register">Register</a></button>
          {{else}}
          <button type="button" class="btn btn-info"><a class="text-light text-decoration-none" href="/register">Register</a></button>
          {{/if}}
      {{/if}}
    </div>
  </header>
</div>