<div class="container">
<div class="text-center w-75 mx-auto">
   {{#if errorEditProducts}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error : </strong> {{errorEditProducts}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
  {{/if}}
  <form action="/edit-product/{{product._id}}" method="post" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Edit Details</h1>
    <input
      name="title"
      type="text"
      id="title"
      class="form-control my-3"
      placeholder="Title"
      autofocus=""
      value="{{product.title}}"
    />
    <div class="form-group">
      <textarea
        name="description"
        class="form-control my-3"
        id="exampleFormControlTextarea1"
        rows="6"
        placeholder="description"    
      >{{product.description}}</textarea>
    </div>
    <input
      name="image"
      type="text"
      id="image"
      class="form-control my-3"
      placeholder="Image or image's url"
      autofocus=""
      value="{{product.image}}"
    />
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">$</span>
      </div>
      <input
        type="number"
        name="price"
        class="form-control"
        placeholder="price"
        aria-label="Username"
        aria-describedby="basic-addon1"
        value="{{product.price}}"
      />
    </div>
    <input
      name="username"
      type="text"
      id="title"
      class="form-control my-3"
      placeholder="Author Name"
      autofocus=""
      value="{{product.username}}"
    />
    <input
      name="address"
      type="text"
      id="title"
      class="form-control my-3"
      placeholder="Your address"
      autofocus=""
      value="{{product.address}}"
    />
    <input
      name="phone"
      type="number"
      id="title"
      class="form-control my-3"
      placeholder="+998 xx xxx xx xx"
      autofocus=""
      value="{{product.phone}}"
    />
    <button
      class="btn btn-lg btn-primary btn-block my-3"
      type="submit"
    >Save Changes</button>
  </form>
</div>
</div>